.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 60px;
  gap: 50px;
}

/* Left */
.hero-left {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
}
.intro-text {
  font-size: 16px;
  max-width: 420px;
  margin-bottom: 20px;
}
.hero-title {
  font-size: 180px;
  font-weight: bold;
  line-height: .75;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
}

.hero-title>span{
    font-size: 180px;
    font-weight: bold;
    color: white;
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
}


/* Center */
.hero-center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: -230px;
}
.hero-img {
  width:300px;
  height: 300px;
  border-radius: 8px;
  z-index: -1;
}

/* Right */
.hero-right {
  flex: 1;
}
.work-label {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px;
  font-weight: 700;
}
.work-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  max-width: 300px;
}
.btn-outline {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
}
.work-img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}
